<h2>Hi, <%= current_user.name %>!</h2>

<div class="search_shows">

  <p>Use the below field to search for tv shows:</p>

  <form>
    <input class="showSearch" type="text" placeholder="Search..." required>
    <input class="showButton" type="button" value="Search">
  </form>

  <div class="show_results"></div>

</div>

<div class="favorite_shows">

  <h3>Favorite Shows</h3>

    <ul class="my_shows">
      <% for show in @user.shows %>
      <li>
        <%= show.name %> (first aired: <%= show.first_air_date %>)
        <%= link_to "Remove", unfavorite_show_path(show), :method => :post %>
      </li>
      <% end %>
    </ul>

</div>

<div class="my_friends">

  <h3>Friends</h3>
  <ul>
    <% for friendship in @user.friendships %>
      <li>
        <%= friendship.friend.name %>
        <%= link_to "Remove", friendship, :method => :delete %>
      </li>
    <% end %>
  </ul>

</div>
