<h2><%= @user.name %>'s Page</h2>

<div class="search_shows">

  <p>Use the below field to search for tv shows:</p>

  <form>
    <input class="showSearch" type="text" placeholder="Search..." required>
    <input class="showButton" type="button" value="Search">
  </form>

  <div class="show_results"></div>

</div>

<div class="favorite_shows">

  <h3>Favorite Shows</h3>

    <ul class="my_shows">
      <% for show in @user.shows %>
      <li>
        <%= link_to show.name, show_path(show) %>
        <%= link_to "(remove)", unfavorite_show_path(show), :method => :post %>
      </li>
      <% end %>
    </ul>

</div>

<div class="my_friends">

  <h3>Friends</h3>

  <ul class="friends">
    <% for friendship in @user.friendships %>
      <li>
        <%= link_to friendship.friend.name, user_path(friendship.friend) %>
        <%= link_to "(remove)", friendship, :method => :delete %>
      </li>
    <% end %>
  </ul>

</div>
