<!DOCTYPE html>
<html>

<head>
  <title>tel.ly</title>
  <link href='https://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'splash' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>

<body>
  <div class="splash_head">
    <ul class="splash_header">
    <% if current_user %>
      <li>Logged in as <%= current_user.name %></li>
      <li><%= link_to "My tel.ly", current_user %></li>
    <% end %>
    </ul>
  </div>

  <h1>tel.ly</h1>
  
  <div class="splash_nav">
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  </div>

  <div class="site_info">
    <p>tel<strong>.ly</strong> helps you stay on top of what television shows you and your friends are into!</p>
  </div>
</body>
</html>
