<!DOCTYPE html>
<html>

<head>
  <title>tel.ly</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Domine' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'splash' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
</head>

<body>
  <div class="splash_head">
    <ul class="splash_header">

    </ul>
  </div>

  <div class = "splash_info">
    <div class = "splash_logo">
      <h1>tel<strong>.ly</strong></h1>
    </div>

    <div class="site_info">
      <p>track your favorite tv shows and compare with friends</p>
    </div>
    <div class="splash_nav">
      <% if current_user %>
        logged in as <%= current_user.name %>
        <%= link_to "my tel.ly", current_user %>
      <% else %>
        <%= link_to "sign up", signup_path %> |
        <%= link_to "log in", login_path %>
      <% end %>
    </div>
  </div>

</body>
</html>
