<!DOCTYPE html>
<html>

<head>

  <title>tel.ly</title>

  <%= stylesheet_link_tag 'application' %>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <link href='https://fonts.googleapis.com/css?family=Delius' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta charset="utf-8">

</head>

<body>

  <header>
  <h1>tel.ly</h1>

  <div class="nav_bar">
    <% if current_user %>
      Logged in as <%= current_user.name %>
      <%= link_to "My tel.ly Page", current_user %>
      <%= link_to "Find Friends", users_path %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up", signup_path %> or
      <%= link_to "Log In", login_path %>
    <% end %>
  </div>

  </header>

  <main>
    <%= yield %>
  </main>
</body>

</html>
